@{
    Layout = "~/views/Shared/_Layout.cshtml";
}
<div>
    <iframe src="https://onedrive.live.com/embed?cid=24283A9449AA0A2D&resid=24283A9449AA0A2D%21181&authkey=AKrW42CSbO5AWeY&em=2" width="1300" height="500" frameborder="0" scrolling="no"></iframe>
</div>