@{
    Layout = "~/views/Shared/_Layout.cshtml";
}
<div>
    <iframe width="1000" height="900" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=24283A9449AA0A2D%21159&authkey=%21AP0z-aKMRxSkJbk&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=false&resen=false&ed1JS=false"></iframe>
</div>