@{
    Layout = "~/views/Shared/_Layout.cshtml";
}
<div>
    <iframe width="1300" height="600" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=24283A9449AA0A2D%21182&authkey=%21AFkfGXY-2J8kres&em=2&wdAllowInteractivity=False&wdInConfigurator=True&wdInConfigurator=True&edesNext=false&resen=false&ed1JS=false"></iframe>
</div>